<div class="container recipe-details">
  <h2 class="text-center mb-4" style="margin-right:30%;"><%= @recipe.name %></h2>
  <div class="row recipe-details-box1">
    <div class="col-md-6">
      <strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
    </div>

    <div class=" col-md-6 text-right">
      <div class="form-check form-switch col-sm-3">
        <div class="d-flex align-items-center justify-content-between">
          <label class="form-check-label mr-2" for="flexSwitchCheckChecked">
            <% if @recipe.public == 1 %>
              Public
            <% else %>
              Private
            <% end %>
          </label>
          <% if can? :update, @recipe %>
            <input class="form-check-input border-info" type="checkbox" role="switch" id="flexSwitchCheckChecked" data-recipe-id="<%= @recipe.id %>" <%= 'checked' if @recipe.public == 1 %> >
          <% end %>
        </div>
      </div>
    </div>
</div>

  <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
  <p><strong>Description:</strong> <%= @recipe.description %></p>
  
  <div class="row recipe-details-btns mt-4 mb-4">
    <div class="col-md-6">
      <button type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#shoppingModal">
        Generate Shopping List
      </button>
    </div>
    <div class="col-md-6">
      <% if current_user == @recipe.user %>
        <%= link_to "Add Ingredient", new_recipe_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="shoppingModal" tabindex="-1" aria-labelledby="shoppingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="shoppingModalLabel">Shopping List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="w-100">
          <div class="container">
            <div class="row">
              <div class="col">
                Amount of food items to buy: <%= @total_quantity %>
              </div>
        
              <div class="col">
                Total value of food needed: <%= @total_price %>
              </div>
            </div>
          </div>
        </div>
        <% if @buy_items.empty? %>
        <h3 class="text-center mt-5">No Food items to buy. All items are available in Kitchen</h3>
        <% else %>
        <table class="table table-striped border border-dark table-hover mt-4">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @buy_items.each do |food| %>
              <tr>
                <td><%= food[:name] %></td>
                <td><%= food[:quantity] %></td>
                <td><%= food[:value] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.includes(:food).each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price * recipe_food.quantity %></td>
          <td>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
